*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #000d2b;
  color: #55c596;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  padding-right: 30px;
}

h1{  
  margin-top: 25vh;
  font-size: 3rem;
}

div{
  margin-bottom: 25vh;
}

.menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu > * {
  padding: 2rem;
}

section{
  margin-left: 3rem;
}

.box {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows: 1fr 1fr;
  background: linear-gradient(135deg, #419e67 0%, #114941 100%);
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f1f7f6;
}

.box p.nome{
  grid-column: 2;
  grid-row: 1;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f1f7f6;
}

.box p.mostrar-valor{
  grid-column: 2;
  grid-row: 2;
  background-color: #f9f7f2;
  color: #55c596;
  padding-top: 12px;
  border: 2px solid #55c596 ;
  border-radius: 5px;
  font-weight: bold;
}

@media (max-width: 700px){
  body{
    min-height: 50vh;
    text-align: center;
  }
  h1{
    font-size: 3rem;
    margin-bottom: 10vh;
    margin-top: 7vh;
  }
  
  .menu{
    grid-template-columns: 1fr;
  }

  .menu > *{
    padding: 1rem;
  }

  .menu, .box{
    grid-column: 1;
    grid-gap: 10px;
  }
}